* {
    box-sizing: border-box;
}


/* ETCH-A-SKETCH SECTION*/

.display-screen {
    width: 508px;
    height: 508px;
    border: 4px solid black;
    border-radius: 4px;
    display: grid;
}

.grid {
    background-color: lightgray;
    /* border: 1px solid gray; */
}

.black {
    background-color: black;
}

/* FOOTER */

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}